/SlnSemanticKernelAI/.vs/SlnSemanticKernelAI/CopilotIndices
/SlnSemanticKernelAI/.vs/SlnSemanticKernelAI/FileContentIndex
/SlnSemanticKernelAI/.vs/SlnSemanticKernelAI/v17
/SlnSemanticKernelAI/SemanticKernelAI/bin
/SlnSemanticKernelAI/SemanticKernelAI/obj
/SlnSemanticKernelAI/SemanticKernelCore/bin
/SlnSemanticKernelAI/SemanticKernelCore/obj
/SlnSemanticKernelAI/.vs/SlnSemanticKernelAI/copilot-chat
/SlnSemanticKernelAI/.vs/SlnSemanticKernelAI/DesignTimeBuild
/SlnSemanticKernelAI/.vs
